
body{
    background-color: black;  
}
html{
    scroll-behavior: smooth;
}
.himg{
    margin-top: 50px;
}
#navhead{
    color: #f16303;
    font-size: 32px;
    font-weight: bold;
}
#navanime{
    animation: navani 2s ease-in-out ;
}
@keyframes navani {
    0%{
        transform: translateY(-100px);
    }
}
.homepag{
    animation: homepag 2s linear;
}
@keyframes homepag{
    0%{
        display: contents;
        transform: translateX(-300px);
    }

}
.homepic{
    animation: homepic 2s linear;
}
@keyframes homepic{
    0%{
        transform: translateX(400px);
    }
}

.home{
    color: rgb(236, 81, 19);
    
    margin-right: 10px;
}
.first{
    margin-top: 50px;
    margin-bottom: 120px;
}
.second{
    margin-bottom: 70px;
}
.fourth{
    margin-bottom: 130px;
}
button{
    color: white;
    background-color: #f16303;
}
#h11{
    color: #f16303;
    font-weight: bold;
    font-size: 50px;
    margin-top: 80px;
    letter-spacing: 1px;
}
#h12{
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    word-spacing: 2px;
}
#h13{
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    margin-bottom: 70px;
}
#h13:hover{
    color: black;
    font-weight: bold;
    padding: 10px 25px;
    transition: 1s;
}
#h14{
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}
#h15{
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#h15:hover{
    color: black;
    font-weight: bold;
    padding: 10px 25px;
    transition: 1s;
}
.img1{
    display: flex;
    height: 100px;
    width: 150px;
    margin: auto;
    margin-bottom: 50px;
}
.third{
    margin-bottom: 100px;
}
.box{
    background-color: white;
    border-radius: 5px;
    height: 350px;
    margin-bottom: 100px;
    
}
.but2{
        margin: auto;
        display: flex;
        padding: 10px 15px;
        font-weight: bold;
        border-radius: 5px;
        letter-spacing: 1px;
        border: 2px solid white;
}
.but2:hover{
    padding: 10px 25px;
    transition: 1s;
    color: black;
}
footer{
    margin-top: 30px;
    margin-bottom: 50px;



}
.list-unstyled,li,a{
    padding-bottom: 10px;
    color: white;
    font-size: 16px;
}
.list-unstyled,li,a:hover{
    text-decoration: none;
    color: #f16303;
    font-weight: ;
}
#blob1{
    /* box-shadow: 0px 5px 5px 5px #f16303; */
    animation: blob1 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    background-color: #f16303;
}
@keyframes blob1 {

    0%, 100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    
}
#blob2{
    box-shadow: 0px 5px 5px 5px #f16303;
    animation: blob2 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}
@keyframes blob2 {

    0%, 100%{
        border-radius: 70% 50% 20% 80% / 40% 20% 70% 80%;
    }
    
    
}
#blob3{
    animation: blob3 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    background-color: #f16303;
}
@keyframes blob3 {

    0%, 100%{
        border-radius: 70% 30% 50% 20% / 80% 60% 20% 30%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}
#blob4{
    box-shadow: 0px 5px 5px 5px #f16303;
    animation: blob4 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    
}
@keyframes blob4 {

    0%, 100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    
}
